.wrapper-navbar {
  padding: 1.5rem;
  margin-bottom: 4rem;
  background: var(--clr-white);
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 100px;
      grid-template-columns: auto auto 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.wrapper-navbar h4 {
  margin-bottom: 0;
  font-weight: 400;
}

.wrapper-navbar img {
  width: 35px !important;
  height: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper-navbar button {
  background: transparent;
  border: transparent;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-5);
  cursor: pointer;
}
